extends ../components/base/layout

block variables
  - const title = "Бакалавриат РФ. Экзамены"
  - const lang = "ru"
  -
    const examsData = {
      breadcrumbs: [
        {
          active: true,
          href: '',
          text: 'Приёмная комиссия',
        },
        {
          active: true,
          href: 'bc',
          text: 'Бакалавриат РФ',
        },
        {
          active: false,
          text: 'Экзамены',
        }
      ],
      title: "Бакалавриат. Экзамены",
      buttons: [
          {
            text: 'О программе',
            href: 'bc'
          },
          {
            text: 'Как поступить',
            href: 'bc-admissions'
          }
      ],
      nav: [
        {
          text: 'Расписание экзаменов',
          href: '#schedule',
        },
        {
          text: 'Перечень экзаменов',
          href: '#list',
        },
        {
          text: 'Дополнительное вступительное испытание (ДВИ)',
          href: '#dvi',
        },
        {
          text: 'Регламент экзаменов',
          href: '#rules',
        },
        {
          text: 'Результаты экзаменов',
          href: '#results',
        },
        {
          text: 'Программа ДВИ и варианты прошлых лет',
          href: '#program',
        },
      ],
    }

block main
  main.main
    +hero("Российским абитуриентам. <br> Бакалавриат")
    +examsBc(examsData)
