extends ../components/base/layout

block variables
  - const title = "Бакалавриат ИН"
  - const lang = "ru"
  -
    const programData = {
      breadcrumbs: [
        {
          active: true,
          href: '/',
          text: 'Приемная комиссия',
        },
        {
          active: false,
          text: 'Бакалавриат ИН',
        }
      ],
      title: "Образовательная программа <br> &laquo;Лингвистика&raquo;",
      buttons: [
        {
          text: 'Как поступить',
          href: 'bcf-admissions.html'
        },
        {
          text: 'Экзамены',
          href: 'bcf-exams.html'
        }
      ],
      intro: 'Программа бакалавриата предназначена для иностранных абитуриентов, имеющих среднее общее и среднее профессиональное образование.',
      card: [
        {
          key: "Продолжительность обучения",
          value: "4 года"
        },
        {
          key: "Форма обучения",
          value: "очная"
        },
        {
          key: "Стоимость обучения",
          value: "430 000 рублей в год"
        },
        {
          key: "План приема",
          value: "40 платных мест"
        }
      ],
      exams: [
        'Русский язык (собеседование)',
        'Иностранный язык (собеседование)'
      ],
      about: [
        'Студенты Высшей школы перевода получают базовые знания и навыки в рамках образовательных программ высшего образования по направлению «Лингвистика».',
        'Иностранные студенты Высшей школы перевода в качестве первого иностранного языка  изучают русский язык, в качестве второго языка предлагается английский, немецкий, французский, итальянский и испанский языки.',
        'На факультете ведется много дисциплин по выбору, предполагающих углубленное изучение русского языка, русской культуры и истории.'
      ],
      questions: [
        {
          id: 'q1',
          ask: 'Какие правила приема на программу?',
          reply:[
            'Полные правила приема изложены в документе <a href="http://cpk.msu.ru/" target="_blank">Центральной приемной комиссии МГУ</a>.'
          ],
        },
        {
          id: 'q2',
          ask: 'Какой минимальный балл на программу бакалавриата?',
          reply: [
            'Минимальные баллы на по русскому и иностранному языку на программу бакалавриата: 40 баллов за каждый экзамен.'
          ],
        },
        {
          id: 'q7',
          ask: 'Как подать документы?',
          reply: [
            'Смотрите раздел <a href="/bcf-admissions.html">&laquo;Как поступить&raquo;</a>'
          ],
        },
        {
          id: 'q8',
          ask: 'В каком формате будут проходить вступительные испытания?',
          reply: [
            'В 2022 году вступительные испытания для иностранных абитуриентов проводятся в дистанционном формате.'
          ],
        },
        {
          id: 'q9',
          ask: 'Каков порядок оплаты обучения?',
          reply: [
            'Обучение на факультете оплачивается каждый семестр. Стоимость фиксируется в договоре и не меняется на протяжении всего периода обучения.'
          ],
        },
        {
          id: 'q11',
          ask: 'Предоставляется ли иностранным студентам общежитие?',
          reply: [
            'Да. Подробная информация есть в разделе <a href="http://esti.msu.ru/pages/about/hostels/">&laquo;Общежития&raquo;</a>'
          ],
        },
      ],
    }

block main
  main.main
    +hero("Иностранным абитуриентам. <br> Бакалавриат")
    +program(programData)
