extends ../components/base/layout

block variables
  - const title = "Приемная комиссия"
  - const lang = "ru"

block main
  main.main
    +hero("Приёмная комиссия <br> Высшей школы перевода <br> МГУ имени М. В. Ломоносова")
    +programLinks()
    +mainLinks()
