extends ../components/base/layout

block variables
  - const title = "Приёмная комиссия | ВШП МГУ"
  - const lang = "ru"

block main
  main.main
    +toIndex()
    .schedule
      a(href='#' target="_blank") График работы приёмной комиссии
    +hero("Приёмная комиссия <br> Высшей школы перевода <br> МГУ имени М. В. Ломоносова")
    +mainLinks()
    +programLinks()
