extends ../components/base/layout

block variables
  - const title = "Магистратура РФ. Как поступить"
  - const lang = "ru"
  -
    const howData = {
      breadcrumbs: [
        {
          active: true,
          href: '/',
          text: 'Приёмная комиссия',
        },
        {
          active: true,
          href: 'mg.html',
          text: 'Магистратура РФ',
        },
        {
          active: false,
          text: 'Как поступить',
        }
      ],
      title: "Как поступить на программу магистратуры",
      buttons: [
          {
            text: 'О программе',
            href: 'mg.html'
          },
          {
            text: 'Экзамены',
            href: 'mg-exams.html'
          }
        ],
      stages: [
        {
          key: 'Начало приёма документов',
          value: '20 июня 2022 г.',
        },
        {
          key: 'Окончание приёма документов',
          value: '20 июля 2022 г.',
        },
      ],
      docs: [
        'Оригинал или копия копия документов об образовании (диплом бакалавра или диплом специалиста) с приложением с оценками по всем предметам (табель успеваемости). <br> <small>В случае, если документы получены в иностранном вузе, они должны пройти процедуру легализации для стран в соответствии со следующим <a href="https://www.msu.ru/int/intrul/legal(2020).pdf" target="_blank">списком</a>.</small>',
        'Нотариально заверенный перевод на русский язык документов об образовании, включая приложение с оценками по предметам (в случае, если документы получены за рубежом)',
        'Цветная копия первых двух страниц паспорта',
        'Страховой номер индивидуального лицевого счета (СНИЛС) &mdash; при наличии',
        'Официальная фотография (4шт) без головного убора в формате 3х4',
      ],
      nav: [
        {
          text: 'Этапы приёмной кампании',
          href: '#stages',
        },
        {
          text: 'Документы, необходимые для поступления',
          href: '#docs',
        },
        {
          text: 'Как подать документы',
          href: '#adm',
        },
        {
          text: 'Зачисление',
          href: '#enroll',
        },
        {
          text: 'После зачисления',
          href: '#after',
        },
      ],
    }

block main
  main.main
    +hero("Российским абитуриентам. <br> Магистратура")
    +howMg(howData)
