extends ../components/base/layout

block variables
  - const title = "Магистратура РФ. Экзамены"
  - const lang = "ru"
  -
    const examsData = {
      breadcrumbs: [
        {
          active: true,
          href: '/',
          text: 'Приемная комиссия',
        },
        {
          active: true,
          href: 'mg.html',
          text: 'Магистратура РФ',
        },
        {
          active: false,
          text: 'Экзамены',
        }
      ],
      title: "Магистратура. Экзамены",
      buttons: [
          {
            text: 'О программе',
            href: 'mg.html'
          },
          {
            text: 'Как поступить',
            href: 'mg-admissions.html'
          }
      ],
      nav: [
        {
          text: 'Расписание экзаменов',
          href: '#schedule',
        },
        {
          text: 'Перечень экзаменов',
          href: '#list',
        },
        {
          text: 'Об экзамене',
          href: '#about',
        },
        {
          text: 'Регламент экзаменов',
          href: '#rules',
        },
        {
          text: 'Результаты экзаменов',
          href: '#results',
        },
        {
          text: 'Программа экзамена и варианты прошлых лет',
          href: '#program',
        },
      ],
    }

block main
  main.main
    +hero("Российским абитуриентам. <br> Магистратура")
    +examsMg(examsData)
