extends ../components/base/layout

block variables
  - const title = "Магистратура РФ"
  - const lang = "ru"
  -
    const programData = {
      breadcrumbs: [
        {
          active: true,
          href: '/',
          text: 'Приёмная комиссия',
        },
        {
          active: false,
          text: 'Магистратура РФ',
        }
      ],
      title: "Образовательная программа <br> &laquo;Теория, история, методология перевода&raquo;",
      buttons: [
        {
          text: 'Как поступить',
          href: 'mg-admissions.html'
        },
        {
          text: 'Экзамены',
          href: 'mg-exams.html'
        }
      ],
      intro: 'Программа магистратуры предназначена для российских и иностранных* абитуриентов, имеющих высшее образование любого уровня.',
      introAdd: '*Иностранные абитуриенты должны профессионально владеть  русским языком при поступлении — не ниже ТРКИ-3. Стоимость обучения для иностранных абитуриентов составляет 430 000 рублей в год.',
      card: [
        {
          key: "Продолжительность обучения",
          value: "2 года"
        },
        {
          key: "Форма обучения",
          value: "очная"
        },
        {
          key: "Стоимость обучения",
          value: "383 550 рублей в год"
        },
        {
          key: "План приёма",
          value: "15 платных мест"
        }
      ],
      exams: [
        'Иностранный язык (устно и письменно)',
      ],
      about: [
        'Мы готовим конкурентоспособных специалистов в области письменного и устного перевода, стремящихся к постоянному саморазвитию и самосовершенствованию, способных осуществлять фундаментальные и прикладные научные исследования в области науки о переводе, лингвистики, межкультурной коммуникации.',
        'Учащиеся приобретают профессиональные навыки устного и письменного перевода не менее чем в двух комбинациях языков.',
        'В процессе обучения в магистратуре существует возможность перехода на инновационные программы: <br> 1. <i>«Теория и практика письменного перевода»</i> <br> 2. <i>«Теория и практика устного перевода»</i>',
      ],
      questions: [
        {
          id: 'q1',
          ask: 'Какие правила приёма на программу?',
          reply:[
            'Полные правила приёма изложены в документе <a href="http://cpk.msu.ru/" target="_blank">Центральной приёмной комиссии МГУ</a>.'
          ],
        },
        {
          id: 'q2',
          ask: 'Какой проходной балл на программу магистратуры?',
          reply: [
            'На программу магистратуры нет фиксированного проходного балла. После вступительного испытания мы составляем конкурсные списки и зачисляем согласно плану приёма абитуриентов, набравших наибольшее количество баллов.',
            'В 2021 году минимальный проходной балл на программу магистратуры составлял 65-70 из 100.'
          ],
        },
        {
          id: 'q3',
          ask: 'Какие иностранные языки изучают магистры?',
          reply: [
            'В качестве первого языка магистры могут выбрать английский, испанский, китайский, немецкий или французский языки.',
            'В качестве второго языка &mdash; английский, испанский, итальянский, немецкий, французский языки.',
          ],
        },
        {
          id: 'q5',
          ask: 'Есть ли на факультете бюджетные места?',
          reply: [
            'Обучение осуществляется только на контрактной основе.'
          ],
        },
        {
          id: 'q6',
          ask: 'Каков порядок оплаты обучения?',
          reply: [
            'Обучение на факультете оплачивается каждый семестр. Стоимость фиксируется в договоре и не меняется на протяжении всего периода обучения.'
          ],
        },
        {
          id: 'q7',
          ask: 'Есть ли военная кафедра для студентов?',
          reply: [
            'В <a href="https://www.msu.ru/info/struct/dep/voennyy-uchebnyy-tsentr.php" target="blank">Военном учебном центре при МГУ</a> могут проходить подготовку студенты программы <b>специалитета</b> на 3-5 курсах.'
          ],
        },
        {
          id: 'q8',
          ask: 'Предоставляется ли иногородним студентам общежитие?',
          reply: [
            'Да. Подробная информация есть в разделе <a href="http://esti.msu.ru/pages/about/hostels/">&laquo;Общежития&raquo;</a>'
          ],
        },
      ],
    }

block main
  main.main
    +hero("Российским абитуриентам. <br> Магистратура")
    +program(programData)
