extends ../components/base/layout

block variables
  - const title = "Магистратура ИН. Как поступить"
  - const lang = "ru"
  -
    const howData = {
      breadcrumbs: [
        {
          active: true,
          href: '',
          text: 'Приёмная комиссия',
        },
        {
          active: true,
          href: 'mgf',
          text: 'Магистратура ИН',
        },
        {
          active: false,
          text: 'Как поступить',
        }
      ],
      title: "Как поступить на программу магистратуры",
      buttons: [
          {
            text: 'О программе',
            href: 'mgf'
          },
          {
            text: 'Экзамены',
            href: 'mgf-exams'
          }
        ],
      stages: [
        {
          key: 'Начало приёма документов',
          value: '15 июня 2022 г.',
        },
        {
          key: 'Окончание приёма документов',
          value: '10 июля 2022 г.',
        },
      ],
      docs: [
        {
          item: 'Анкета-заявление',
        },
        {
          item: 'Оригиналы или копии документов с полным перечнем изученных предметов и полученных по ним оценок',
          blockDocs: true,
        },
        {
          item: 'Нотариально заверенный перевод на русский язык документов об образовании и оценок по изученным предметам',
        },
        {
          item: 'Копии документов, удостоверяющих личность и гражданство поступающего (первых двух страниц паспорта / ID)',
        },
        {
          item: 'Нотариально заверенный перевод на русский язык первых двух страниц паспорта / ID',
        },
        {
          item: '2 фотографии размером 3х4 (черно-белые или цветные, выполненные в 2022 году, с четким изображением лица, строго анфас, без головного убора)',
        },
      ],
      nav: [
        {
          text: 'Этапы приёмной кампании',
          href: '#stages',
        },
        {
          text: 'Документы, необходимые для поступления',
          href: '#docs',
        },
        {
          text: 'Как подать документы',
          href: '#adm',
        },
        {
          text: 'Признание документов об образовании',
          href: '#accept',
        },
        {
          text: 'После экзаменов',
          href: '#enroll',
        },
        {
          text: 'После зачисления',
          href: '#after',
        },
      ],
    }

block main
  main.main
    +hero("Иностранным абитуриентам. <br> Магистратура")
    +howMgf(howData)
