extends ../components/base/layout

block variables
  - const title = "Магистратура ИН"
  - const lang = "ru"
  -
    const programData = {
      breadcrumbs: [
        {
          active: true,
          href: '',
          text: 'Приёмная комиссия',
        },
        {
          active: false,
          text: 'Магистратура ИН',
        }
      ],
      title: "Образовательная программа <br> &laquo;Русский язык в сфере межъязыковой коммуникации&raquo;",
      buttons: [
        {
          text: 'Как поступить',
          href: 'mgf-admissions'
        },
        {
          text: 'Экзамены',
          href: 'mgf-exams'
        }
      ],
      intro: 'Программа магистратуры предназначена для иностранных абитуриентов, имеющих высшее образование.',
      card: [
        {
          key: "Продолжительность обучения",
          value: "2 года"
        },
        {
          key: "Форма обучения",
          value: "очная"
        },
        {
          key: "Стоимость обучения",
          value: "430 000 рублей в год"
        },
        {
          key: "План приёма",
          value: "40 платных мест"
        }
      ],
      exams: [
        'Русский язык (письменно и устно)'
      ],
      about: [
        'Студенты Высшей школы перевода получают знания и навыки в рамках образовательных программ высшего образования по направлению «Лингвистика».',
        'Иностранные студенты Высшей школы перевода в качестве первого иностранного языка  изучают русский язык, в качестве второго языка предлагается английский, немецкий, французский, итальянский и испанский языки.',
        'На факультете ведется много дисциплин по выбору, предполагающих углубленное изучение русского языка, русской культуры и истории.'
      ],
      questions: [
        {
          id: 'q1',
          ask: 'Какие правила приёма на программу?',
          reply:[
            'Полные правила приёма изложены в документе <a href="http://cpk.msu.ru/" target="_blank">Центральной приёмной комиссии МГУ</a>.'
          ],
        },
        {
          id: 'q2',
          ask: 'Какой минимальный балл на программу магистратуры?',
          reply: [
            'Минимальные баллы на по русскому языку на программу магистратуры: 40 баллов.'
          ],
        },
        {
          id: 'q8',
          ask: 'В каком формате будут проходить вступительные испытания?',
          reply: [
            'В 2022 году вступительные испытания для иностранных абитуриентов проводятся в дистанционном формате.'
          ],
        },
        {
          id: 'q9',
          ask: 'Каков порядок оплаты обучения?',
          reply: [
            'Обучение на факультете оплачивается каждый семестр. Стоимость фиксируется в договоре и не меняется на протяжении всего периода обучения.'
          ],
        },
        {
          id: 'q11',
          ask: 'Предоставляется ли иностранным студентам общежитие?',
          reply: [
            'Да. Подробная информация есть в разделе <a href="http://esti.msu.ru/pages/about/hostels/">&laquo;Общежития&raquo;</a>'
          ],
        },
      ],
    }

block main
  main.main
    +hero("Иностранным абитуриентам. <br> Магистратура")
    +program(programData)
