extends ../components/base/layout

block variables
  - const title = "Специалитет РФ"
  - const lang = "ru"
  -
    const programData = {
      breadcrumbs: [
        {
          active: true,
          href: '/',
          text: 'Приёмная комиссия',
        },
        {
          active: false,
          text: 'Специалитет РФ',
        }
      ],
      title: "Образовательная программа <br> &laquo;Перевод и переводоведение&raquo;",
      buttons: [
        {
          text: 'Как поступить',
          href: 'sp-admissions.html'
        },
        {
          text: 'Экзамены',
          href: 'sp-exams.html'
        }
      ],
      intro: 'Программа специалитета предназначена для российских абитуриентов, имеющих среднее общее и среднее профессиональное образование.',
      card: [
        {
          key: "Продолжительность обучения",
          value: "6 лет"
        },
        {
          key: "Форма обучения",
          value: "очная"
        },
        {
          key: "Стоимость обучения",
          value: "391 050 рублей в год"
        },
        {
          key: "План приёма",
          value: "30 платных мест"
        }
      ],
      exams: [
        'Иностранный язык (ЕГЭ)',
        'Обществознание <b>или</b> история (ЕГЭ)',
        'Русский язык (ЕГЭ)',
        'Иностранный язык (дополнительное вступительное испытание)',
      ],
      about: [
        'Основная цель Высшей школы перевода МГУ – подготовить специалистов с классическим университетским образованием, способных профессионально решать задачи самого высокого уровня сложности, а также сформировать личность переводчика.',
        'Наши выпускники получают знания и навыки для работы в различных сферах межъязыковой коммуникации. Учащиеся приобретают профессиональные навыки устного и письменного перевода не менее чем в двух комбинациях языков.'
      ],
      questions: [
        {
          id: 'q1',
          ask: 'Какие правила приёма на программу?',
          reply:[
            'Полные правила приёма изложены в документе <a href="http://cpk.msu.ru/" target="_blank">Центральной приёмной комиссии МГУ</a>.'
          ],
        },
        {
          id: 'q2',
          ask: 'Какой проходной балл на программу специалитета?',
          reply: [
            'На программу специалитета нет фиксированного проходного балла. Чтобы участвовать в конкурсе, необходимо сдать ЕГЭ и дополнительное вступительное испытание (ДВИ) на минимальные баллы. После ДВИ мы составляем конкурсные списки и зачисляем согласно плану приёма абитуриентов, набравших наибольшее количество баллов.',
            'В 2021 году минимальный проходной балл на программу специалитета составлял около 300 из 400 по сумме четырёх экзаменов.'
          ],
        },
        {
          id: 'q3',
          ask: 'Чем отличается программа специалитета от программы бакалавриата?',
          reply: [
            'Срок обучения по программе специалитета — 6 лет, по программе бакалавриата — 4 года. На старших курсах студенты-специалисты изучают прикладные дисциплины, необходимые каждому профессиональному переводчику: устный синхронный и последовательный перевод, научно-технический перевод, цифровой перевод, а также осваивают профессиональные переводческие инструменты: автоматические программы перевода, оборудование кабин синхронного перевода',
          ],
        },
        {
          id: 'q4',
          ask: 'Какая специальность будет указана в моём дипломе?',
          reply: [
            'В дипломе будет указано: освоил(а) основную образовательную программу высшего образования (специалитет) и присвоена квалификация ЛИНГВИСТ-ПЕРЕВОДЧИК по специальности 45.05.01 «Перевод и переводоведение»'
          ],
        },
        {
          id: 'q5',
          ask: 'Какие иностранные языки изучают специалисты?',
          reply: [
            'В качестве первого языка специалисты могут выбрать английский, китайский, немецкий или французский языки. Обратите внимание: китайский язык можно брать <b>только</b> в качестве первого изучаемого языка.',
            'В качестве второго языка &mdash; английский, испанский, итальянский, немецкий, французский языки.'
          ],
        },
        {
          id: 'q6',
          ask: 'Могут ли студенты изучать третий иностранный язык?',
          reply: [
            'Да, с 3 курса студенты Высшей школы перевода могут изучать третий иностранный язык при условии формирования группы. Изучение третьего языка — дополнительная образовательная услуга и не входит в стоимость основного обучения.'
          ],
        },
        {
          id: 'q8',
          ask: 'Есть ли на факультете бюджетные места?',
          reply: [
            'Обучение осуществляется только на контрактной основе.'
          ],
        },
        {
          id: 'q9',
          ask: 'Каков порядок оплаты обучения?',
          reply: [
            'Обучение на факультете оплачивается каждый семестр. Стоимость фиксируется в договоре и не меняется на протяжении всего периода обучения.'
          ],
        },
        {
          id: 'q10',
          ask: 'Есть ли военная кафедра для студентов?',
          reply: [
            'В <a href="https://www.msu.ru/info/struct/dep/voennyy-uchebnyy-tsentr.php" target="blank">Военном учебном центре при МГУ</a> могут проходить подготовку студенты программы <b>специалитета</b> на 3-5 курсах.'
          ],
        },
        {
          id: 'q11',
          ask: 'Предоставляется ли иногородним студентам общежитие?',
          reply: [
            'Да. Подробная информация есть в разделе <a href="http://esti.msu.ru/pages/about/hostels/">&laquo;Общежития&raquo;</a>'
          ],
        },
      ],
    }

block main
  main.main
    +hero("Российским абитуриентам. <br> Специалитет")
    +program(programData)
