extends ../components/base/layout

block variables
  - const title = "Специалитет ИН. Экзамены"
  - const lang = "ru"
  -
    const examsData = {
      breadcrumbs: [
        {
          active: true,
          href: '',
          text: 'Приёмная комиссия',
        },
        {
          active: true,
          href: 'spf',
          text: 'Специалитет ИН',
        },
        {
          active: false,
          text: 'Экзамены',
        }
      ],
      title: "Специалитет ИН. Экзамены",
      buttons: [
          {
            text: 'О программе',
            href: 'spf'
          },
          {
            text: 'Как поступить',
            href: 'spf-admissions'
          }
      ],
      nav: [
        {
          text: 'Расписание экзаменов',
          href: '#schedule',
        },
        {
          text: 'Перечень экзаменов',
          href: '#list',
        },
        {
          text: 'Об экзаменах',
          href: '#about',
        },
        {
          text: 'Регламент экзаменов',
          href: '#rules',
        },
        {
          text: 'Результаты экзаменов',
          href: '#results',
        },
      ],
    }

block main
  main.main
    +hero("Иностранным абитуриентам. <br> Специалитет")
    +examsSpf(examsData)
