extends ../components/base/layout

block variables
  - const title = "Специалитет ИН"
  - const lang = "ru"
  -
    const programData = {
      breadcrumbs: [
        {
          active: true,
          href: '/',
          text: 'Приемная комиссия',
        },
        {
          active: false,
          text: 'Специалитет ИН',
        }
      ],
      title: "Образовательная программа <br> &laquo;Перевод и переводоведение&raquo;",
      buttons: [
        {
          text: 'Как поступить',
          href: 'spf-admissions.html'
        },
        {
          text: 'Экзамены',
          href: 'spf-exams.html'
        }
      ],
      intro: 'Программа специалитета предназначена для иностранных абитуриентов, профессионально владеющих  русским языком при поступлении  — не ниже ТРКИ-3 и имеющих среднее общее и среднее профессиональное образование.',
      card: [
        {
          key: "Продолжительность обучения",
          value: "6 лет"
        },
        {
          key: "Форма обучения",
          value: "очная"
        },
        {
          key: "Стоимость обучения",
          value: "430 000 рублей в год"
        },
        {
          key: "План приёма",
          value: "40 платных мест"
        }
      ],
      exams: [
        'Русский язык (собеседование)',
        'Иностранный язык  (собеседование)',
      ],
      about: [
        'Основная цель Высшей школы перевода МГУ – подготовить специалистов с классическим университетским образованием, способных профессионально решать задачи самого высокого уровня сложности, а также сформировать личность переводчика.',
        'Наши выпускники получают знания и навыки для работы в различных сферах межъязыковой коммуникации. Учащиеся приобретают профессиональные навыки устного и письменного перевода не менее чем в двух комбинациях языков.'
      ],
      questions: [
        {
          id: 'q1',
          ask: 'Какие правила приема на программу?',
          reply:[
            'Полные правила приема изложены в документе <a href="http://cpk.msu.ru/" target="_blank">Центральной приемной комиссии МГУ</a>.'
          ],
        },
        {
          id: 'q2',
          ask: 'Какой проходной балл на программу специалитета?',
          reply: [
            'На программу специалитета нет фиксированного проходного балла. После экзаменов мы составляем конкурсные списки и зачисляем согласно плану приёма абитуриентов, набравших наибольшее количество баллов.',
          ],
        },
        {
          id: 'q4',
          ask: 'Какая специальность будет указана в моём дипломе?',
          reply: [
            'В дипломе будет указано: освоил(а) основную образовательную программу высшего образования (специалитет) и присвоена квалификация ЛИНГВИСТ-ПЕРЕВОДЧИК по специальности 45.05.01 «Перевод и переводоведение»'
          ],
        },
        {
          id: 'q5',
          ask: 'Какие иностранные языки изучают специалисты?',
          reply: [
            'В качестве первого языка специалисты могут выбрать английский, китайский, немецкий или французский языки. Обратите внимание: китайский язык можно брать <b>только</b> в качестве первого изучаемого языка.',
            'В качестве второго языка &mdash; английский, испанский, итальянский, немецкий, французский языки.'
          ],
        },
        {
          id: 'q6',
          ask: 'Могут ли студенты изучать третий иностранный язык?',
          reply: [
            'Да, с 3 курса студенты Высшей школы перевода могут изучать третий иностранный язык при условии формирования группы. Изучение третьего языка — дополнительная образовательная услуга и не входит в стоимость основного обучения.'
          ],
        },
        {
          id: 'q7',
          ask: 'Как подать документы?',
          reply: [
            'Смотрите раздел <a href="/spf-admissions.html">&laquo;Как поступить&raquo;</a>'
          ],
        },
        {
          id: 'q8',
          ask: 'Есть ли на факультете бюджетные места?',
          reply: [
            'Обучение осуществляется только на контрактной основе.'
          ],
        },
        {
          id: 'q9',
          ask: 'Каков порядок оплаты обучения?',
          reply: [
            'Обучение на факультете оплачивается каждый семестр. Стоимость фиксируется в договоре и не меняется на протяжении всего периода обучения.'
          ],
        },
        {
          id: 'q11',
          ask: 'Предоставляется ли иностранным студентам общежитие?',
          reply: [
            'Да. Подробная информация есть в разделе <a href="http://esti.msu.ru/pages/about/hostels/">&laquo;Общежития&raquo;</a>'
          ],
        },
      ],
    }

block main
  main.main
    +hero("Иностранным абитуриентам. <br> Специалитет")
    +program(programData)
