-
  const advData = [
    {
      class: 'odd',
      title: '1. Факультет в структуре классического университета',
      imgId: 'university',
      text: [
        'Высшая школа перевода — факультет МГУ имени М.В. Ломоносова — самого престижного университета страны, имеющего высокий международный авторитет. В 2021 году МГУ занял 24-место в рейтинге QS среди всех вузов мира в предметной области «Лингвистика».',
        'Студенты МГУ получают знания не только в рамках своей профессии, но могут слушать курсы на других факультетах, изучая науку, искусство, культуру и общественные процессы.'
      ],
    },
    {
      class: 'even',
      title: '2. Особый преподавательский состав',
      imgId: 'img',
      text: [
        'Занятия на факультете ведут преподаватели — практикующие переводчики, сочетающие фундаментальные знания и  богатый личный опыт работы в сфере перевода.'
      ],
    },
    {
      class: 'odd',
      title: '3. Инновационные учебные программы',
      imgId: 'img',
      text: [
        'Учебные программы в Высшей школе перевода ориентированы на условия цифровой коммуникации, то есть с учетом актуальных требований к профессии и нашего видения будущего переводческой деятельности. Выпускники факультета обладают теми навыками, которые требуются на рынке переводческих услуг.'
      ],
    },
    {
      class: 'even',
      title: ' 4. Авторитет в профессиональном сообществе',
      imgId: 'img',
      text: [
        'Высшая школа перевода обладает высоким авторитетом в международном и национальном профессиональном сообществе. С 2010 года факультет входит в число 40 самых престижных институтов и факультетов подготовки переводчиков университетов мира (<a href="http://www.ciuti.org/" target="_blank">CIUTI</a>), является ассоциированным членом старейшего и самого авторитетного международного объединения профессиональных переводчиков – <a href="http://www.fit-ift.org/" target="_blank">Международной федерации переводчиков (FIT)<a>, а также членом <a href="http://www.translators-union.ru/" target="_blank">Союза переводчиков России</a>.',
        'Кроме того, Высшая школа перевода - участник консорциума подготовки переводческих кадров для Организации объединенных наций. Это дает студентам и аспирантам возможность пройти стажировку в службах устного и письменного перевода ООН.'
      ],
    },
    {
      class: 'odd',
      title: '5. Принцип многоязычия',
      imgId: 'img',
      text: [
        'Студенты приобретают профессиональные навыки устного и письменного перевода не менее чем в двух комбинациях языков: русского и английского, испанского, итальянского, китайского, немецкого и французского. Студенты выбирают первую и вторую языковые комбинации на своё усмотрение.'
      ],
    },
    {
      class: 'even',
      title: '6. Много практики',
      imgId: 'img',
      text: [
        'С 1 курса в программе обучения Высшей школы перевода мастер-классы, тренинги, научно-образовательные форумы, а с 3 курса - профессиональные практики и стажировки. Студенты проходят переводческую практику в международных организациях, в переводческих отделах государственных организаций и бизнес-структур, в переводческих компаниях, в СМИ и сфере киноперевода. <a href="http://esti.msu.ru/pages/for-students/practice/">Подробнее о практике</a>'
      ],
    },
    {
      class: 'odd',
      title: '7. Широкие возможности для трудоустройства',
      imgId: 'img',
      text: [
        'Обучение переводу дает широкие возможности для применения полученных знаний в самых разных сферах.',
        'Гордость Высшей школы перевода &mdash; <a href="http://esti.msu.ru/pages/about/graduates/">наши выпускники</a>. Среди них: переводчики в различных организациях и переводчики-фрилансеры, преподаватели, руководители, предприниматели, менеджеры, аналитики, корреспонденты и редакторы.'
      ],
    },
    {
      class: 'even',
      title: '8. Студенческая жизнь',
      imgId: 'img',
      text: [
        'Учиться в Высшей школе перевода интересно! Обучение на факультете &mdash; это не только работа в аудитории, но совместные мероприятия: экскурсии, поездки по стране, театральные постановки, творческие проекты, летние школы и многое другое.',
      ],
    },
  ]

mixin advantage(data)
  div(class=`advantage advantage--${data.class}`)
    h3.advantage__title.title-3= data.title
    figure.advantage__figure
      img.advantage__img(src=`img/${data.imgId}.jpg`)
    .advantage__text-wrapper
      each textItem in data.text
        p.advantage__text.text-basic !{textItem}

mixin advantages()
  .container
    section.advantages
      p.advantages__text.text-basic Высшая школа перевода &mdash; факультет МГУ имени М.В. Ломоносова, созданный в 2005 году. Мы первая высшая школа перевода в России, созданная в структуре классического университета. Факультет готовит переводчиков и лингвистов, профессионально владеющих минимум двумя иностранными языками, современными переводческими технологиями и обладающих глубокими фундаментальными знаниями в гуманитарной сфере.
      h2.advantages__title.title-2 8 причин поступить в Высшую школу перевода МГУ
      each adv in advData
        +advantage(adv)
