mixin commonInfo()
  h1 Общая информация
  h2 Поступление в 2022 году
  p Актуальная информация о необходимых документах, расписании и результатах вступительных испытаний представлена на страницах учебных программ.
  h3 Российским абитуриентам
  ul
    li
      a(href= baseHref + 'bc') Бакалавриат
    li
      a(href= baseHref + 'sp') Специалитет
    li
      a(href= baseHref + 'mg') Магистратура
  h3 Иностранным абитуриентам
  ul
    li
      a(href= baseHref + 'bcf') Бакалавриат
    li
      a(href= baseHref + 'mgf') Магистратура
    li
      a(href= baseHref + 'spf') Специалитет
  h2 Подача документов
  p В 2022 году прием документов в МГУ имени М.В.Ломоносова осуществлялся в дистанционной и очной форме и начнется 20 июня для граждан Российской Федерации, 15 июня – для иностранных граждан и лиц без гражданства.
  p Заявления о приеме в МГУ Вы сможете подать через электронную информационную систему МГУ – webanketa.msu.ru. (Для подачи документов через систему <a href="https://webanketa.msu.ru/" target="_blank">webanketa.msu.ru</a> электронная цифровая подпись (ЭЦП) не требуется).
  h2 Условия обучения
  p Обучение в Высшей школе перевода по всем направлениям подготовки ведется на договорной основе.  Информация о стоимости обучения представлена на страницах учебных программ.
  p <a href="http://esti.msu.ru/netcat_files/userfiles/Files/ab/2020/Perevody%20i%20vosstanovlenie.pdf" target="_blank">Информация для лиц, переводящихся с других факультетов МГУ или восстанавливающихся из числа отчисленных<a>.
  h2 Приёмная комиссия
  p <a href="http://cpk.msu.ru/" target="_blank">Центральная приёмная комиссия</a> Московского государственного университета имени М. В. Ломоносова.
  p <a href="http://cpk.msu.ru/files/2022/rules.pdf" target="_blank">Правила приёма в Московский университет в 2022 году</a>.
  //- h3 Состав приемной комиссии Высшей школы перевода (факультета)
  //- ol
  //-   li <b>Гарбовский Николай Константинович</b> &mdash; председатель
  //-   li <b>Ушаков Сергей Геннадьевич</b> &mdash; заместитель председателя
  //-   li <b>Сергеева Анастасия Сергеевна</b> &mdash;  ответственный секретарь
  //-   li <b>Сударь Анна Михайловна</b> &mdash; зам. отв. секретаря по общим вопросам
  //-   li <b>Геращенко Ксения Павловна</b> &mdash; член приемной комиссии
  //-   li <b>Лю Цзинпэн</b> &mdash; член приемной комиссии
  h2 Особые права и преимущества при приеме на обучение по программам бакалавриата или специалитета
  p Поступающим в Московский университет особые права и преимущества при приеме на обучение по программам бакалавриата или программам специалитета предоставляются в соответствии с Федеральным законом от 29 декабря 2012 г. № 273-ФЗ «Об образовании в Российской Федерации» и Порядком приема на обучение по образовательным программам высшего образования — программам бакалавриата, программам специалитета, программам магистратуры (утвержден приказом Министерства образования и науки Российской Федерации от 14 октября 2015 г. № 1147).
  p <a href="http://cpk.msu.ru/files/2022/olymp_benefits.pdf" target="_blank">Льготы для победителей/призёров олимпиад</a>.


