mixin examsMgf(examsData)
  .basic.exams
    .container
      +breadcrumbs(examsData.breadcrumbs)
      .basic__container
        .basic__content
          h2.basic__title.title-2 !{examsData.title}
          .page-btns
              each button in examsData.buttons
                a.page-btns__item(href= baseHref + button.href)= button.text
          .basic__block#schedule
            h3.basic__block-title Расписание экзаменов
            h4.basic__subh Первая волна
            p.basic__text <b>27 июня</b> &mdash; русский язык
            h4.basic__subh Вторая волна
            p.basic__text <b>25 июля</b> &mdash; русский язык
          .basic__block#list
            h3.basic__block-title Перечень экзаменов
            p.basic__text Для поступления на программу бакалавриата необходимо предоставить результаты следующих вступительных испытаний:
            ul.basic__block-list
              li.basic__block-list-item Русский язык (письменно и устно)
          .basic__block#about
            h3.basic__block-title Об экзаменах
            p.basic__text В 2022 году экзамены пройдут  в дистанционном формате на платформе Zoom и Online Test Pad.
          .basic__block#rules
            h3.basic__block-title Регламент экзаменов
            p.basic__text Подробности будут размещены позже.
          .basic__block#program
            h3.basic__block-title Программа экзаменов
            p.basic__text <a href="http://esti.msu.ru/netcat_files/userfiles/Files/ab/samples/rus%202019%20exam.pdf" target="_blank">Примеры заданий тестового типа</a>.
          .basic__block#results
            h3.basic__block-title Результаты экзаменов
            a.basic__text(href= baseHref + "results") Результаты экзаменов размещены на отдельной странице.
        .basic__nav
          ul.basic__nav-list
            each nav in examsData.nav
              li.basic__nav-item
                a.basic__nav-link(href=nav.href)= nav.text
