mixin hero(text)
  .hero
    .container.hero__container
      .hero__text
        h1.hero__title !{text}
      .hero__image
        img(src= baseSrc + "img/hero.svg" alt="Иллюстрация с книгами" width="300" height="300")
