mixin hero()
  .hero
    .container.hero__container
      .hero__text
        h1.hero__title Приёмная комиссия <br> Высшей школы перевода <br> МГУ имени М. В. Ломоносова
      .hero__image
        img(src="img/hero.svg" alt="Иллюстрация с книгами" width="300" height="300")
