mixin mainLinks()
  section.main-links
    .container.main-links__container
      .main-links__item.main-links__item--university
        h2.main-links__title
          a.main-links__link(href= baseHref + "about.html") О Высшей <br> школе перевода
      .main-links__item.main-links__item--profession
        h2.main-links__title
          a.main-links__link(href= baseHref + "profession.html") Профессия: <br> переводчик
