

mixin mainLinks()
  section.main-links
    h2.main__links__item
      a.main-links__link(href="#") О Высшей школе перевода
    h2.main__links__item
      a.main-links__link(href="#") Профессия: переводчик
