mixin noticeBlock()
  .notice__item
    span.notice__date 25.07
    h2.notice__title Специалисты РФ: результаты ДВИ
    .notice__text
      p Опубликованы результаты ДВИ
      p Опубликованы результаты ДВИ

