-
  const data = [
    {
      active: true,
      href: '',
      text: 'Приёмная комиссия',
    },
    {
      active: false,
      href: '#',
      text: 'Профессия: переводчик',
    }
  ]

mixin prof-section()
  section.profession
    .container
      +breadcrumbs(data)
      .profession__block
        h2.profession__title.title-2 Кто такие переводчики и чем они занимаются?
        .profession__text-wrapper
          p.profession__text.text-basic Перевод — это особый вид словесного искусства. Знать один или несколько иностранных языков для переводчика недостаточно. Необходимо также в совершенстве владеть родным языком и обладать особыми качествами: уметь быстро принимать оптимальные решения, иметь широкий кругозор и желание совершенствоваться, уметь вдумчиво работать, быть коммуникабельным и придерживаться делового этикета.
          p.profession__text.text-basic Переводчики — наши проводники в другой мир. Перевод там, где есть соприкосновение культур. Новые фильмы, книги, компьютерные игры, новости, понятная для нас документация и инструкции — всё это невозможно без труда переводчиков.
        .profession__img-wrapper
          figure
            img.profession__img(src= baseSrc + "img/transl-1.svg" alt="Синхронный перевод")
      .profession__block
        h2.profession__title.title-2 Виды перевода
        .profession__text-wrapper
          p.profession__text.text-basic Перевод бывает устным и письменным. Устный перевод, с свою очередь, может быть последовательным и синхронным.
          p.profession__text.text-basic При последовательном переводе переводчик начинает переводить на целевой язык после того, как оратор перестал говорить, закончив всю речь или какую-либо её часть.
          p.profession__text.text-basic Переводчик-синхронист переводит на целевой язык одновременно с восприятием на слух речи на исходном языке. Это наиболее сложный и высокооплачиваемый вид переводческой деятельности. В Высшей школе перевода курс по синхронному переводу является обязательным, а занятия ведут действующие переводчики-синхронисты.
          p.profession__text.text-basic Письменный перевод используется в различных сферах: технический перевод (инструкции, техническая документация), художественный перевод (литература, кинематограф, локализация), общественно-политический перевод (новости, выступления политиков и общественных деятелей), юридический перевод.
          p.profession__text.text-basic Специализация письменного переводчика может быть более узкой. Хорошие переводчики в специальных отраслях (микроэлектроника, фармацевтика, авиастроение, пищевая промышленность) — востребованные и высокооплачиваемые специалисты.
        .profession__img-wrapper
          figure
            picture
              source(type="image/webp" srcset= baseSrc + `img/transl-2.webp`)
              img.profession__img(src= baseSrc + "img/transl-2.jpg" alt="Коммуникация")
      .profession__block--100#job
        h2.profession__title.title-2 Где могут работать переводчики-лингвисты?
        +prof-card()














