mixin programLinks()
  section.program-links
    .program-links__item
      h2.program-links__category Российским абитуриентам
        h3.program-links__program
          a.program-links__link(href="") Бакалавриат
        h3.program-links__program
          a.program-links__link(href="") Специалитет
        h3.program-links__program
          a.program-links__link(href="") Магистратура

      h2.program-links__category Иностранным абитуриентам
        h3.program-links__program
          a.program-links__link(href="") Бакалавриат
        h3.program-links__program
          a.program-links__link(href="") Магистратура
        h3.program-links__program
          a.program-links__link(href="") Специалитет
