mixin programLinks()
  section.program-links
    .container.program-links__container
      .program-links__item
        h2.program-links__category Российским <br> абитуриентам
        h3.program-links__program
          a.program-links__link(href="bc.html") Бакалавриат
        h3.program-links__program
          a.program-links__link(href="sp.html") Специалитет
        h3.program-links__program
          a.program-links__link(href="mg.html") Магистратура
      .program-links__item
        h2.program-links__category Иностранным <br> абитуриентам
        h3.program-links__program
          a.program-links__link(href="bcf.html") Бакалавриат
        h3.program-links__program
          a.program-links__link(href="mgf.html") Магистратура
        h3.program-links__program
          a.program-links__link(href="spf.html") Специалитет
