mixin resExams()
  section.results
    .container
      h1.results__title-1 Результаты экзаменов. <br> Приёмная кампания 2022
      .results__container
        .results__category
          h2.results__title-2 Российские абитуриенты
          .results__program
            h3.results__program-title Бакалавриат / Специалитет
            p.results__program-subtitle &laquo;Лингвистика&raquo; / &laquo;Перевод и переводоведение&raquo;
            .results__list
              .results__item
                span.results__date 25.07
                a.results__link(href="#") ДВИ по иностранному языку
          .results__program
            h3.results__program-title Магистратура
            p.results__program-subtitle &laquo;Теория, история, методология перевода&raquo;
            .results__list
              .results__item
                span.results__date 15.07
                a.results__link(href="#") Экзамен по иностранному языку
        .results__category
          h2.results__title-2 Иностранные абитуриенты
          .results__program
            h3.results__program-title Бакалавриат
            p.results__program-subtitle &laquo;Лингвистика&raquo;
            .results__list
              .results__item
                span.results__date 14.06
                a.results__link(href="#") Экзамен по русскому языку
              .results__item
                span.results__date 15.06
                a.results__link(href="#") Экзамен по иностранному языку
          .results__program
            h3.results__program-title Магистратура
            p.results__program-subtitle &laquo;Русский язык в межъязыковой коммуникации&raquo;
            .results__list
              .results__item
                span.results__date 14.06
                a.results__link(href="#") Экзамен по русскому языку
          .results__program
            h3.results__program-title Специалитет
            p.results__program-subtitle &laquo;Перевод и переводоведение&raquo;
            .results__list
              .results__item
                span.results__date 22.06
                a.results__link(href="#") Экзамен по русскому языку
              .results__item
                span.results__date 24.06
                a.results__link(href="#") Экзамен по иностранному языку

