.breadcrumbs {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  letter-spacing: 0.05rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 2rem;

    @include mediaSmall() {
      display: inline-block;
    }
  }

  &__list-item {
    flex-grow: 0;

    @include mediaSmall() {
      margin-bottom: 1rem;
    }
  }

  &__list-item:not(:last-child) {
    padding-right: 2.5rem;
    margin-right: 2.5rem;
    position: relative;
  }

  &__link::before {
      content: "";
      position: absolute;
      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover;
      width: 1.3rem;
      height: 1.3rem;
      top: 0.6rem;
      right: -.6rem;
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    color: $color-grey-dark;
  }

  &__link:hover {
    text-decoration: none;
    color: $color-primary;
  }
}
