.footer {
  background-color: $color-grey-dark;
  color: $color-grey-light-1;
  padding: 4rem 0;
  font-size: 1.5rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) max-content;
    grid-template-rows: min-content 1fr;
    gap: 2rem;

    @include mediaMedium() {
      grid-template-columns: 1fr 1fr;
      padding: 0 5rem;
    }
  }

  &__title {
    grid-column: 1 / -1;
    font-size: 3rem;
  }

  &__address {
    font-style: normal;
    margin-bottom: 2rem;
  }

  &__map-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  &__map:link,
  &__map:visited {
    font-weight: bold;
    color: inherit;
  }

  &__contacts {
    display: grid;
    row-gap: 1rem;
  }

  &__contacts-title {
    padding-bottom: 1rem;
  }

  &__contacts-info {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__contacts-info > a {
    color: inherit;
    font-weight: 400;
    padding: .3rem 0;
  }

  &__socials {

    @include mediaMedium() {
      grid-column: 1 / -1;
      display: flex;
    }
  }

  &__social-item {
    display: block;
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: 3rem;

      @include mediaMedium() {
        margin: 0;
        margin-right: 3rem;
      }
    }
  }

  &__social-item:link,
  &__social-item:visited {
    color: inherit;
  }

  &__info {
    grid-column: 1 / -1;
    padding-top: 2rem;
    text-align: center;
    font-size: 1.4rem;

    a:link,
    a:visited {
      color: inherit;
    }
  }
}


