.header {
  font-size: 2rem;
  font-weight: 700;
  background-color: $color-grey-light-1;
  padding: 2rem 0;

  &__container {
    display: grid;
    grid-template-columns: max-content minmax(min-content, 1fr) minmax(13rem, max-content);
    column-gap: 5rem;
    align-items: center;
  }

  &__nav {
    font-size: 2rem;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
  }

  &__nav-link:not(:last-child) {
    margin-right: 2rem;
  }

  &__nav-link:link,
  &__nav-link:visited {
    color: $color-grey-dark;
    padding: .5rem;
    transition: all .4s ease;
  }

  &__nav-link:hover {
    text-decoration: none;
    box-shadow: 0 2px 0 $color-grey-dark;
  }

  &__lang {
    display: flex;
    gap: 1rem;
  }

  &__lang-link:link,
  &__lang-link:visited {
    flex: 0 0 6rem;
    text-align: center;
    border: .3rem solid $color-grey-dark;
    color: $color-grey-dark;
    display: inline-block;
    text-transform: uppercase;
    padding: .4rem;
    transition: all .4s ease;
  }

  &__lang-link:hover {
    text-decoration: none;
    background-color: $color-grey-dark;
    color: $color-grey-light;
  }



}
