.header {
  font-size: 2rem;
  font-weight: 700;
  background-color: $color-grey-light-1;
  padding: 2rem 0;

  &__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content minmax(min-content, 1fr) minmax(13rem, max-content);
    column-gap: 5rem;
    align-items: center;

    @include mediaMedium() {
      column-gap: 4rem;
    }

    @include mediaSmall() {
      display: block;
    }
  }

  &__logo {

    @include mediaSmall {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }

  &__nav {
    font-size: 2rem;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;

    @include mediaSmall {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem;
    }
  }

  &__nav-link {
    display: block;

    @include mediaSmall {
      text-align: center;
    }
  }

  &__nav-link:not(:last-child) {
    margin-right: 2rem;

    @include mediaSmall {
      margin: 0;
    }
  }

  &__nav-link:link,
  &__nav-link:visited {
    color: $color-grey-dark;
    padding: .5rem;
    transition: all .4s ease;
  }

  &__nav-link:hover {
    text-decoration: none;
    box-shadow: 0 2px 0 $color-grey-dark;
  }

  &__lang {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include mediaMedium() {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include mediaSmall {
      flex-direction: row;
    }
  }

  &__lang-link {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }

  &__lang-link:link,
  &__lang-link:visited {
    border-radius: 5px;
    flex: 0 0 6rem;
    text-align: center;
    min-width: 6rem;
    min-height: 4rem;
    border: .3rem solid $color-grey-dark;
    color: $color-grey-dark;
    text-transform: uppercase;
    transition: all .4s ease;
  }

  &__lang-link:hover {
    text-decoration: none;
    background-color: $color-grey-dark;
    color: $color-grey-light;
  }



}
