.hero {
  background-color: #fefefe;

  &__container {

    padding: 1rem 12rem;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: max-content minmax(max-content, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  &__title {
    color: $color-grey-dark;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    z-index: 2;
  }

  &__image {
    justify-self: center;
    transform: scale(1.3);
    position: relative;
    box-shadow: 0 3rem 2rem rga(0, 0, 0, .8);
    z-index: 1;


    img {
      width: 20rem;
    }
  }
}
