.main-links {

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(min-content, 25vw);
    gap: 5rem;
    padding: 5rem;
    padding-top: 6rem;
  }

  &__item {
    border-radius: .5rem;
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    ;

    &--university {
      background-image: url(../img/nnn.svg);

    }

    &--profession {
      background-image: url(../img/profession2.svg);
    }
  }

  &__title {
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__link:link,
  &__link:visited {
    padding: .5rem 2rem;
    border-radius: 5px;
    color: white;
    font-size: 4rem;
    line-height: 1.6;
    box-decoration-break: clone;
    background-image: linear-gradient(45deg, rgba(#fd5a3d, 0.8), rgba(#ff5659, 0.8));
  }
}
