.main-links {

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(min-content, 27vw);
    justify-content: space-between;
    gap: 5rem;
    padding: 5rem;
    padding-top: 6rem;

    @include mediaBig() {
      padding: 4rem;
      gap: 3rem;
    }

    @include mediaMedium() {
      justify-items: center;
      padding: 4rem 1rem;
      gap: 1rem;
    }

    @include mediaSmall() {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 20rem);
      gap: 3rem;
    }
  }

  &__item {
    border-radius: .5rem;
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    ;

    &--university {
      background-image: url($base-src + 'img/nnn.svg');

    }

    &--profession {
      background-image: url($base-src + 'img/profession2.svg');
    }
  }

  &__title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__link:link,
  &__link:visited {
    padding: .5rem 2rem;
    border-radius: 5px;
    color: white;
    font-size: 3.5rem;
    line-height: 1.6;
    box-decoration-break: clone;
    background-image: linear-gradient(45deg, rgba(#fd5a3d, 0.9), rgba(#ff5659, 0.9));

    @include mediaBig {
      font-size: 2.8rem;
    }

    @include mediaMedium {
      font-size: 2.2rem;
    }
  }
}
