.notice {

  &__item {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 3rem;
    padding-bottom: 2rem;

    &:not(:last-child) {
      border-bottom: 2px solid black;
    }
  }

  &__date {
    align-self: center;
    justify-self: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }

  &__title {
    align-self: center;
    font-size: 2rem !important;
  }

  &__text {
    grid-column: 2 / -1;
  }

  h2 {
    padding: 0;
  }
}
