.profession {
  padding: 6rem 0 6rem 5rem;

  @include mediaMedium() {
    padding: 4rem 0;
  }

  &__block {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 5rem;

    @include mediaMedium {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }

  &__block--100 {
    padding: 3rem 0;
  }

  &__title {
    margin-bottom: 3rem;
    grid-column: 1 / -1;
  }

  &__text {

    @include mediaMedium() {
      max-width: 55rem;
    }
  }

  &__text:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__img-wrapper {
    align-self: start;

    figure {
      border-radius: 5px;
      overflow: hidden;
      margin: 1rem;
    }

    @include mediaMedium() {
      grid-row: 2 / 3;
    }
  }
}
