mixin breadcrumbs(data)
  .breadcrumbs
    ul.breadcrumbs__list
      each link in data
        li.breadcrumbs__list-item
          if link.active
            a.breadcrumbs__link(href= baseHref + `${link.href}`)= link.text
          else
            span.breadcrumbs__link--inactive= link.text
