mixin info()
  div.info-button
    input(type="checkbox").info-button__input.visually-hidden#info
    label.info-button__label(for="info") i
    span.info-button__window Стоимость обучения указана за 2021 год. Актуальная информация по стоимости появится после издания соответствующего приказа по Московскому университету.
