mixin prof-card()
  .prof-card-section
    .prof-card
      span.prof-card__icon
        +icon('briefcase', 20, 20)
      h3.prof-card__title Политика
      ul.prof-card__list
        li.prof-card__list-item Международные организации
        li.prof-card__list-item Министерство иностранных дел
        li.prof-card__list-item Посольства и консульства
    .prof-card
      span.prof-card__icon
        +icon('area-graph', 20, 20)
      h3.prof-card__title Бизнес
      ul.prof-card__list
        li.prof-card__list-item Международные компании
        li.prof-card__list-item Рекламные агентства
        li.prof-card__list-item Переводческие агентства
        li.prof-card__list-item Гостиничный бизнес
    .prof-card
      span.prof-card__icon
        +icon('book', 20, 20)
      h3.prof-card__title Культура
      ul.prof-card__list
        li.prof-card__list-item Художественный перевод
        li.prof-card__list-item Международный туризм
        li.prof-card__list-item Перевод кино- и видеоматериалов
        li.prof-card__list-item Перевод и локализация компьютерных игр
    .prof-card
      span.prof-card__icon
        +icon('users', 20, 20)
      h3.prof-card__title Общественная жизнь
      ul.prof-card__list
        li.prof-card__list-item Нотариальные и юридические услуги
        li.prof-card__list-item Страховые компании
        li.prof-card__list-item Средства массовой информации
    .prof-card
      span.prof-card__icon
        +icon('graduation-cap', 20, 20)
      h3.prof-card__title Наука и образование
      ul.prof-card__list
        li.prof-card__list-item Научные исследования в области коммуникации
        li.prof-card__list-item Перевод научных материалов
        li.prof-card__list-item Преподавание иностранных языков

