-
  const skillsData = [
    {
      title: 'Специальные теоретические',
      features: [
        'Теория и методология перевода',
        'История перевода',
      ]
    },
    {
      title: 'Общекультурные',
      features: [
        'История и культура России',
        'История и культура стран изучаемых языков',
        'Международные правовые, экономические и политические отношения'
      ]
    },
    {
      title: 'Лингвистические',
      features: [
        'Русский язык (профессиональное владение)',
        'Два иностранных языка',
        'Возможность овладения другими языками'
      ]
    },
    {
      title: 'Технологические',
      features: [
        'Устный синхронный и последовательный перевод',
        'Письменный перевод',
        'Современные информационно-коммуникационные технологии',
        'Цифровой перевод (взаимодействие с искусственным интеллектом)'
      ]
    },
  ]


mixin skills()
  .skills
    each skill in skillsData
      .skills__item
        .skills__title= skill.title
        .skills__list
          each feature in skill.features
            li.skills__feature= feature

