-
  const headerLinks = [
    {label: "Общая информация", href: "#hi"},
    {label: "Объявления", href: "#"},
    {label: "Результаты экзаменов", href: "#"},
    {label: "Контакты", href: "#"}
  ]

  const langLinks = [
    {label: 'en', href: "#en"},
    {label: '中文', href: "#ch"}
  ]

mixin header()
  header.header
    .header__logo
      p Logo
    .header__nav
      each link in headerLinks
        a.header__nav-link(href= link.href)= link.label
    .header__lang
      each link in langLinks
        a.header__lang-link(href= link.href)= link.label
