-
  const headerLinks = [
    {label: "Общая информация", href: "common.html"},
    {label: "Объявления", href: "notice.html"},
    {label: "Результаты экзаменов", href: "result.html"},
    {label: "Контакты", href: "#contacts"}
  ]

  const langLinks = [
    {label: 'en', href: "/"},
    {label: '中文', href: "ch.html"}
  ]

mixin header()
  header.header
    .container.header__container
      .header__logo
        a.header__logo-link(href= "/" aria-label="Страница приёмной комиссии" title="На страницу приёмной комиссии")
          img.header__logo-img(width="80" height="50" src= baseSrc + "img/logo.svg" alt="Логотип факультета")
      .header__nav
        each link in headerLinks
          if link.label === "Контакты"
            a.header__nav-link(href= link.href)= link.label
          else
            a.header__nav-link(href= baseHref + link.href)= link.label
      .header__lang
        each link in langLinks
          a.header__lang-link(href= link.href)= link.label
