- const baseSrc = "http://esti.msu.ru/netcat_files/userfiles/pk/"
- const baseHref = "/pk/"

//- doctype html

include ../components

block variables

block main

//- html(lang= lang)
//-   head
//-     meta(charset="UTF-8")
//-     meta(http-equiv="X-UA-Compatible" content="IE=edge")
//-     meta(name="viewport" content="width=device-width, initial-scale=1.0")
//-     meta(name="description" content="Приёмная комиссия Высшей школы перевода МГУ")
//-     link(rel="stylesheet" href= baseSrc + "css/style.min.css")
//-     title= title
//-     link(rel="apple-touch-icon" sizes="180x180" href= baseSrc + "img/favicon/apple-touch-icon.png")
//-     link(rel="icon" type="image/png" sizes="32x32" href= baseSrc + "img/favicon/favicon-32x32.png")
//-     link(rel="icon" type="image/png" sizes="16x16" href= baseSrc + "img/favicon/favicon-16x16.png")
//-     link(rel="manifest" href= baseSrc + "img/favicon/site.webmanifest")
//-     link(rel="mask-icon" href= baseSrc + "img/favicon/safari-pinned-tab.svg" color="#5bbad5")
//-     meta(name="msapplication-TileColor" content="#da532c")
//-     meta(name="theme-color" content="#ffffff")
//-   body
//-     .wrapper
//-       +sprite()
//-       +header()
//-       block main
//-       +footer()
