// TYPOGRAPHY

$ff-primary: 'Open Sans';
$fz-default: 1.8rem;

// COLORS

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #eeeeee;
$color-transparent: rgba(255, 255, 255, 0);

$color-primary-dark: #e03c51;
$color-primary: #dc504f;

$color-grey-dark: #2c2c2c;


// VIEWPORTS
$mobile: 430px;
$tablet: 768px;
$desktop: 960px;

