// TYPOGRAPHY

$ff-primary: 'Open Sans';
$fz-default: 1.8rem;

// COLORS

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #eeeeee;
$color-transparent: rgba(255, 255, 255, 0);

$color-primary-dark: #e03c51;
$color-primary: #FF5E62;


$color-grey-light: #faf9f9;
$color-grey-light-1: #fefefe;

$color-grey-dark: #2c2c2c;


// VIEWPORTS
$mobile: 430px;
$tablet: 768px;
$desktop: 960px;

// gradients

$gradient-dark: linear-gradient(to bottom, $color-grey-light-1, $color-transparent);

